<div th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="blue-gradient">
        <div class="nav-wrapper row">
            <a href="#" class="brand-logo">Logo</a>

            <ul id="nav-mobile" class="col s8 offset-s1 left hide-on-med-and-down">
                <li><a href="#">Gestion des classes</a></li>
                <li><a href="#">Gestion des Cours</a></li>
                <li><a href="#">Gestion calendriers</a></li>
                <li><a href="#">Gestion des fichiers</a></li>
            </ul>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#"><i class="material-icons left">mail</i>Messagerie</a></li>
                <li><a href="#"><i class="material-icons left">account_circle</i>Mon Compte</a></li>
            </ul>
        </div>

    </nav>
</div>